@import "../variables";

.tab-container {
  max-width: 100%;
}

.tab {
  flex: 1;
  padding: 8px;
  cursor: pointer;

  &:hover,
  &.active {
    // background-color: lightgrey;
    border: 1px solid $light;
    border-bottom: none;
  }
}
