@import "../variables";

/***************************
borders add, remove, width
***************************/

$sides: (
  all: "",
  top: "top",
  right: "right",
  bottom: "bottom",
  left: "left",
);

$border-sizes: (
  default: $border-width-sm,
  sm: $border-width-sm,
  md: $border-width-md,
  lg: $border-width-lg,
  0: 0,
);

@mixin border-class-creator(
  $side-long-name,
  $side-short-name,
  $size-name,
  $unit
) {
  @if $side-long-name == "all" {
    @if $size-name == "default" {
      .border {
        border: solid $unit $border-default-color;
        box-sizing: border-box;
      }
    } @else {
      .border-#{$size-name} {
        border: solid $unit $border-default-color;
        box-sizing: border-box;
      }
    }
  } @else {
    @if $size-name == "default" {
      .border-#{$side-short-name} {
        border-#{$side-long-name}: solid $unit $border-default-color;
        box-sizing: border-box;
      }
    } @else {
      .border-#{$side-short-name}-#{$size-name} {
        border-#{$side-long-name}: solid $unit $border-default-color;
        box-sizing: border-box;
      }
    }
  }
}

@each $side-long-name, $side-short-name in $sides {
  @each $size-name, $unit in $border-sizes {
    @include border-class-creator(
      $side-long-name,
      $side-short-name,
      $size-name,
      $unit
    );
  }
}

/****************
borders colors
****************/
@each $color, $value in $colors {
  .border-#{$color} {
    border-color: $value;
  }
}

/***************
borders radius
***************/
$corners: (
  all: "",
  top-left: "tl",
  top-right: "tr",
  bottom-left: "bl",
  bottom-right: "br",
);

$rounded-sizes: (
  default: $border-radius-sm,
  sm: $border-radius-sm,
  md: $border-radius-md,
  lg: $border-radius-lg,
  0: 0,
);

@mixin rounded-class-creator(
  $corner-long-name,
  $corner-short-name,
  $size-name,
  $unit
) {
  @if $corner-long-name == "all" {
    @if $size-name == "default" {
      .rounded {
        border-radius: $unit;
      }
    } @else {
      .rounded-#{$size-name} {
        border-radius: $unit;
      }
    }
  } @else {
    @if $size-name == "default" {
      .rounded-#{$corner-short-name} {
        border-#{$corner-long-name}-radius: $unit;
      }
    } @else {
      .rounded-#{$corner-short-name}-#{$size-name} {
        border-#{$corner-long-name}-radius: $unit;
      }
    }
  }
}

@each $corner-long-name, $corner-short-name in $corners {
  @each $size-name, $unit in $rounded-sizes {
    @include rounded-class-creator(
      $corner-long-name,
      $corner-short-name,
      $size-name,
      $unit
    );
  }
}

.circle {
  border-radius: 50%;
}

.pill {
  border-radius: 50rem;
}
